#tableHeader{
    height: var(--tableRowHtHdr);
    /* padding-bottom: 5rem; */
    /* padding: 0; */
    margin-bottom: 2em;
    width: var(--main-width);
    width: var(--oddsTableWidth);
}
#tableHeader .column{
    margin-bottom: .5rem;
    border-radius: calc(var(--tableRowHtHdr)/3);
}
#tableHeader .column{
    background-color: transparent;
}
#tableHeader p{
    font-size: var(--fsz-table);
    font-family: Mainfont;
}
#tableHeader .c-team {
    height: var(--tableRowHtHdr);
}
#tableHeader .column p{
    line-height: var(--tableRowHtHdr);
}

#tableHeader #betonlineag{
    background-color: #000000;
    color: rgb(244, 51, 51);
}
#tableHeader #fanduel{
    background-color: #0b70ff;
    color: white;
}
#tableHeader #draftkings{
    background-color: #5DAF10;
    color: rgb(18, 18, 19);
}
#tableHeader #betmgm{
    background-color: #B19560;
    color: black;
}
#tableHeader #williamhill_us{
    background-color: #083331;
    color: #C5A461;
}
#tableHeader #espnbet{
    background-color: #1ae3be;
    color: #011a46;
}
#tableHeader #ballybet{
    background-color: #4500db;
    color: #ff3d3d;
}
#tableHeader #betrivers{
    background-color: #F7B41D;
    color: #0A202F;
}
#tableHeader #fliff{
    background-color: #230c93;
    color: #27DF44;
}